@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/TitilliumWeb/TitilliumWeb-SemiBold.eot');
    src: url('../fonts/TitilliumWeb/TitilliumWeb-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TitilliumWeb/TitilliumWeb-SemiBold.woff2') format('woff2'),
        url('../fonts/TitilliumWeb/TitilliumWeb-SemiBold.woff') format('woff'),
         url('../fonts/TitilliumWeb/TitilliumWeb-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/TitilliumWeb/TitilliumWeb-Regular.eot');
    src: url('../fonts/TitilliumWeb/TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TitilliumWeb/TitilliumWeb-Regular.woff2') format('woff2'),
        url('../fonts/TitilliumWeb/TitilliumWeb-Regular.woff') format('woff'),
        url('../fonts/TitilliumWeb/TitilliumWeb-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/TitilliumWeb/TitilliumWeb-Light.eot');
    src: url('../fonts/TitilliumWeb/TitilliumWeb-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TitilliumWeb/TitilliumWeb-Light.woff2') format('woff2'),
        url('../fonts/TitilliumWeb/TitilliumWeb-Light.woff') format('woff'),
        url('../fonts/TitilliumWeb/TitilliumWeb-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy/gilroy-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



body{
    background: #1D1A43;
}

*, h1{
    font-family: 'Titillium Web';
    font-weight: 400;
}

h2{
    font-weight: 400;
    font-family: 'Titillium Web';
}
h3, button{
    font-weight: 600;
    font-family: 'Titillium Web';
}

p, a, span, h4, h5{
     font-weight: 300;
    font-family: 'Titillium Web';
}

a{
    text-decoration: none;
}

button,
button:focus{
    outline: none;
    border: none;
    font-family: 'Titillium Web';
}


/*----------------header style------------------*/

.container{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

.main-header{
    padding: 0px 15px;
}

.main-header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}

.menu-btn{
    display: none;
    width: 25px;
    height: 25px;
    background-color: transparent;
    background: url("../images/burger.svg")no-repeat;
    background-size: contain;
    margin-right: 20px;
}

.close-menu{
    display: none;
}

.item-menu{
    margin: 0 17px;
}

.item-menu:first-child{
    margin-left: 35px
}

.item-menu:last-child{
    margin-right: 35px
}

.link-menu{
    font-weight: 600;
    font-size: 13px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    background: linear-gradient(to right, #FF409A, #C438EF 50%, rgba(255, 255, 255, 0.6) 50%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      transition: background-position 275ms ease;
}


.link-menu:hover, .active-link {
  background-position: 0 100%;
}

.logo-link img{
    max-width: 213px;
    width: 100%;
}

.btn{
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(135deg, rgba(64, 221, 255, 0.85) 0%, rgba(20, 186, 227, 0.85) 19.24%, rgba(19, 177, 230, 0.85) 68.64%, rgba(17, 170, 223, 0.85) 81.77%, rgba(11, 152, 197, 0.85) 100%);
    width: 120px;
    height: 40px;
    border-radius: 9px;
}

.btn:hover{
    background: linear-gradient(135deg, #40DDFF 0%, #14BAE3 19.24%, #13B1E6 68.64%, #11AADF 81.77%, #0B98C5 100%);

}

/*-------------first screen----------*/

.first-screen{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-title{
    font-weight: normal;
    font-size: 47px;
    color: rgba(255, 255, 255, 0.95);
    line-height: 70px;
    margin-bottom: 30px;
}

.sub-title{
    font-weight: 300;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 22px;
    margin-bottom: 40px;
}

.big-btn{
    width: 190px;
    height: 60px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-btn:first-child{
    margin-right: 30px;
}

.transparent-btn{
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6);
}

.transparent-btn:hover{
    color: rgba(255, 255, 255, 0.95);
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.95);
}

.wrapper-first-screen{
    margin-bottom: 150px;
    margin-top: 172px;
}

.mobile-container-btn{
    display: none;
}

.container-left-side,
.container-right-side{
    width: 50%;
}

.container-right-side img{
    width: 100%;
}

/*--------about audit--------*/

.title-block{
    font-weight: normal;
    font-size: 48px;
    color: rgba(255, 255, 255, 0.95);
}

.what-audit{
    margin-bottom: 100px;
}

.info{
    max-width: 730px;
    width: 100%;
    font-weight: 300;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 32px;
    margin-bottom: 40px;
}

.container-text-info{
    margin-top: 30px;
}

.item-info{
    margin-bottom: 15px;
}

.before-img{
    padding-left: 45px;
    position: relative;
}

.bell::before, .visibility-off::before, .visibility::before{
    content: '';
    position: absolute;
    top: -7px;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: url("../images/Union.svg")no-repeat;
    background-size: cover;
}

.visibility-off::before{
    background: url("../images/visibility_off.svg")no-repeat;
}

.visibility::before{
    background: url("../images/visibility.svg")no-repeat;
}

.why-audit{
    margin-bottom: 150px;
}

.small-title{
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.95);
}

.info-audit{
    font-weight: 300;
    font-size: 18px;
    line-height: normal;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 35px;
}

.item-audit{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #272451;
    border-radius: 25px;
    max-width: 290px;
    width: 100%;
    padding: 30px;
    max-height: 260px;
}

.list-audit{
    display: flex;
    justify-content: space-between;
}

.large{
    max-width: 825px;
    font-size: 18px;
}

.container-types-audit{
    display: flex;
    align-items: center;
}

.item-types{
    margin-top: 40px;
}

.container-img-type, .info-about-types{
    width: 50%;
}

.container-img-type img{
    width: 100%;
}

.types{
    margin-bottom: 115px;
}

/*---------some condacted------*/

.title-conducted{
    font-size: 36px;
    max-width: 550px;
    line-height: normal;
}

.wrapper-condacted{
    padding: 50px;
    padding-right: 10px;
    background: #272451;
    border-radius: 25px;
    padding-bottom: 0;
    max-width: 820px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.audit-btn:hover{
    background: linear-gradient(135deg, #40DDFF 0%, #14BAE3 19.24%, #13B1E6 68.64%, #11AADF 81.77%, #0B98C5 100%);
    border: 1px solid transparent;
}

.name-company{
    font-weight: 300;
    font-size: 22px;
    line-height: normal;
    color: rgba(255, 255, 255, 0.95);
}

.wrapper-info-company{
    margin: 0 28px;
}

.user-company{
    display: flex;
    align-items: center;
    width: 100%;
}

.item-scroll{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.info-company{
    font-weight: 300;
    font-size: 16px;
    line-height: normal;
    color: rgba(255, 255, 255, 0.6);
    max-width: 500px;
    width: 100%;
}

.container-avatar{
    width: 60px;
    height: 60px;
    border: 9px;
    overflow: hidden;
    flex: none;
}

.container-avatar img{
    width: 100%;
}

.container-scroll-list{
    overflow-y: auto;
    max-height: 480px;
    margin-top: 50px;
    padding-right: 20px;
}

.wrapper-condacted::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    background: url("../images/line.svg")no-repeat;
    width: 243px;
    height: 203px;
    background-size: contain;
}


/*------scroll-------*/

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 10px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: transparent;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background: linear-gradient(136.67deg, #FF409A 8.34%, #C438EF 95.26%);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
}

/*--------about price contract--------*/

.text-contract{
    font-weight: 300;
    font-size: 22px;
    line-height: normal;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 30px;
}

.container-price-contract{
    display: flex;
    align-items: center;
}

.condacted{
    margin-bottom: 150px;
}

.container-img-contract, .container-info-contract{
    width: 50%;
}

.container-img-contract img{
    width: 100%;
}

/*-------why us-----*/

.center-block{
    text-align: center;
}

.center-block .title-block{
    margin-bottom: 20px;
}

.check{
    border: 1px solid #312F62;
    box-sizing: border-box;
    border-radius: 9px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.check img{
    opacity: 0.4;
}

.text-error{
    max-width: 255px;
    width: 100%;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    text-align: center;
    color: rgba(255, 255, 255, 0.95);
    margin-top: 30px;
}

.item-errors{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    max-width: 275px;
    width: 100%;
    min-height: 270px;
}

.checked-item{
    background: linear-gradient(213.66deg, #16B4EB 4.85%, #23E73C 119.17%);
}

.checked-item img{
    opacity: 1;
}

.item-errors:hover .checked-item{
    background: linear-gradient(136.67deg, #FF409A 8.34%, #C438EF 95.26%);
}

.errors-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.item-errors:nth-child(n) {
    border-right: 1px solid #312F62;
    border-bottom: 1px solid #312F62;
}

.item-errors:nth-child(4n) {
    border-right: none;
}

.item-errors:nth-last-child(-n+4) {
    border-bottom: none;
}

.errors{
    margin: 180px 0;
}

/*------contacts-------*/

.contacts{
    width: 64%;
}

.contacts .sub-title{
    max-width: 550px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.email{
    font-weight: 600;
    font-size: 22px;
    line-height: normal;
    color: rgba(255, 255, 255, 0.95);
}

.contact-list{
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.contact-link{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    flex: none;
    overflow: hidden;
    background: linear-gradient(136.67deg, #FF409A 8.34%, #C438EF 95.26%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-link img{
    width: 23px;
}

.contact-link:hover{
    background: linear-gradient(213.66deg, #16B4EB 4.85%, #23E73C 119.17%);
}

.contact-item:first-child{
    margin-right: 25px;
}

.contacts-section{
    background: #19173E;
    padding: 90px 0 50px;
    position: relative;
}

.contacts-section:before{
    content: '';
    position: absolute;
    bottom: -66px;
    right: 0;
    background: url("../images/Saly-8.png")no-repeat;
    width: 154px;
    height: 320px;
    background-size: contain;
    z-index: 1;
}

.submit-btn{
    max-width: 380px;
    width: 100%;
    height: 60px;
    font-size: 18px;
}

.submit-btn[disabled]{
    opacity: 0.5;
}

.submit-btn[disabled]:hover{
    background: linear-gradient(135deg, rgba(64, 221, 255, 0.85) 0%, rgba(20, 186, 227, 0.85) 19.24%, rgba(19, 177, 230, 0.85) 68.64%, rgba(17, 170, 223, 0.85) 81.77%, rgba(11, 152, 197, 0.85) 100%);
}

.contact-form input,
.contact-form textarea{
    padding: 15px 20px;
    background: #343261;
    border: 2px solid #343261;
    font-family: 'Gilroy';
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    color: #9796CF;
    border-radius: 9px;
    margin-bottom: 20px;
    width: 100%;
}

.text-field, .text-field::placeholder{
    color: #9796CF;
    max-width: 340px;
}
.container-contact{
    width: 36%;
}

.contacts-section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-form{
    z-index: 5;
    position: relative;
}

.send-again{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
    max-width: 380px;
    width: 100%;
    height: 60px;
}

.block-complete{
    background: #343261;
    max-width: 380px;
    width: 100%;
    height: 375px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.info-complete{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: normal;
    text-align: center;
    color: rgba(255, 255, 255, 0.95);
    padding-top: 104px;
    position: relative;
}

.info-complete::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: url("../images/Stroke.svg")no-repeat;
    background-size: contain;
    width: 75px;
    height: 54px;
    margin: 0 auto;
}

.field-area{
    resize: none;
}

.text-field:focus{
    border-top: 2px solid #FF409A;
    border-bottom: 2px solid #C438EF;
    background-image:
            linear-gradient(#FF409A, #C438EF),
            linear-gradient( #FF409A, #C438EF);
    background-size: 2px 100%;
    background-position:0 0, 100% 0;
    background-repeat:no-repeat;
}

/*--------footer-----------*/

.footer{
    background: #19173E;
    padding: 25px 0;
}

.footer .menu-list{
    justify-content: flex-start;
}

.footer .menu-list .item-menu:first-child {
    margin-left: 0;
}

.menu-top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    background: #1D1A43;
    z-index: 10000;
}

.container-btn{
    display: flex;
    align-items: center;
}
